# IntelliJ
.idea/
*.iml
**/.idea/

# Python
**/.venv/
**/__pycache__/
*.pyc

# Spring Boot
**/target/

# Environment
.env

# OS
.DS_Store
Thumbs.db
backup_git_migration

# Uploaded files
rest-api-build/storage/

# Backup
backup_git_migration/